// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$accent: #54BA4E;
$contrast: #ff0073;

$color_1: #0776A0;
$color_2: #226078;
$color_3: #333;
$color_4: #3AA6D0	;
$color_5: #63AFD0;
$color_6: #FF8700;
$color_7: #BF7C30;
$color_8: #00B74A;
$color_9: #228A4C;
